# .gitignore content

# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook temporary checkpoint files
.ipynb_checkpoints/

# macOS temporary files
.DS_Store
._*

# Virtual environment folder
venv/
env/

# Output directory for the cropped images
output_images/

# User-specific files
*.MOV
*.png
*.jpg
*.jpeg
*.zip
*.json
destination/
wget-log

# Logs
*.log

# Local configuration file
.local/

# pip requirements file
